.nav-bar {
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: center;
}
.nav-bar img {
  margin: 20px;
  width: 200px;
}
.nav-item {
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #333333;
}
